body {
	padding: 30px;
}

.full {
	padding: 0px;
}

.jumbotron-container {
	background-image: url(assets/world-collage-1400x500.png);	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card-container {
	display: flex;
	box-sizing: border-box;
	padding: 20px;
}





.card {
	display: flex;
	flex-direction: column;
	width: 25%;
	box-sizing: border-box;
}



	padding: 20px;

